body {
  background: url(../images/beach.jpg);
  background-size: cover;
  background-position-y: 167px;
  background-repeat: no-repeat;
  position: relative;
}
.background {
  position: absolute;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  right: 50%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  height: 803px;
  margin-top: 70px;
}
.box1,
.box2,
.box3 {
  position: absolute;
  left: 10%;
  top: 300px;
  width: 20%;
  height: 550px;
  background-color: rgb(206 199 194 / 50%);
}
.box2 {
  left: 40%;
}
.box3 {
  left: 70%;
}
img.agentimg {
  position: absolute;
  width: 100%;
}
p.agentname {
  position: absolute;
  color: #000;
  top: 45%;
  left: 5%;
  font-size: 26px;
  border-bottom: 2px solid #000;
  border-width: thin;
  padding-bottom: 10px;
}
p.duty {
  position: absolute;
  color: rgb(6 6 88);
  left: 5%;
  top: 60%;
  font-size: 19px;
}
p.contact {
  position: absolute;
  color: #000;
  left: 5%;
  top: 75%;
  font-size: 25px;
}
h2.agentheader {
  position: absolute;
  left: 46%;
  top: 157px;
  color: aliceblue;
  font-size: 33px;
}
@media (max-width: 1310px) {
  .HideOnMobile {
    display: none;
  }
  .ShowOnMobile {
    display: block;
  }
}
@media (min-width: 1310px) {
  .ShowOnMobile {
    display: none;
  }
}
