body {
  font-family: "Open Sans Condensed", sans-serif;
}
a.headlink {
  text-decoration: none;
  color: #000;
}
h1.header1 {
  margin-left: 25%;
}
ul {
  list-style-type: none;
}
a.lista {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
nav.navbar {
  text-align: right;
  margin-right: 32%;
  word-spacing: 35px;
  margin-top: -70px;
}
a.lista:hover {
  color: rgb(250, 209, 154);
}
img.firstpic {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  height: 670px;
  object-fit: cover;
  margin-top: 70px;
}
p.onimage {
  position: absolute;
  top: 20%;
  font-size: 60px;
  font-weight: bold;
  left: 10%;
}
p.price {
  color: #000;
  position: absolute;
  top: 52%;
  left: 10%;
  font-size: 30px;
  font-weight: bold;
}
p.onimage2 {
  position: absolute;
  top: 62%;
  left: 10%;
  font-size: 20px;
}
button.onimgbutton {
  position: absolute;
  top: 71%;
  left: 10%;
  height: 60px;
  width: 160px;
  background: none;
}
button.onimgbutton:hover {
  color: #fff;
  background-color: #000;
  cursor: pointer;
}
h2.secondheader,
h2.thirdheader {
  margin-top: 56px;
  font-size: 30px;
  position: absolute;
  left: 45%;
  top: 16px;
}
.secondpart,
.thirdpart,
.lastpart {
  background-color: antiquewhite;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  height: 1526px;
  margin-top: -5px;
  margin-bottom: 200px;
}
img.propic1,
img.propic2 {
  width: 35%;
  height: 400px;
  object-fit: cover;
  position: absolute;
  left: 13%;
  cursor: pointer;
}
.procontainer1,
.procontainer2,
.procontainer3 {
  position: absolute;
  height: 400px;
  top: 175px;
  left: 250px;
  width: 75%;
}
h2.proheader1,
h2.proheader2 {
  position: absolute;
  left: 52%;
  top: -40px;
  font-size: 66px;
}
p.proparag,
p.proparag3 {
  position: absolute;
  left: 52%;
  top: 180px;
  font-weight: bold;
}
p.proparag1,
p.proparag2 {
  position: absolute;
  left: 52%;
  top: 215px;
  width: 38%;
}
p.proprice,
p.proprice2 {
  position: absolute;
  left: 52%;
  top: 310px;
  font-size: 25px;
  color: #da1b1b;
}
.procontainer2 {
  top: 650px;
}
img.propic2 {
  left: 52%;
}
h2.proheader2 {
  left: 13%;
}
p.proparag3 {
  left: 13%;
}
p.proparag2 {
  left: 13%;
}
p.proprice2 {
  left: 13%;
}
.procontainer3 {
  top: 1125px;
}
.arrow {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}
.arrow a {
  height: 39px;
  width: 37px;
  text-align: center;
  background: #fff;
  display: block;
  border-radius: 3px;
}
.arrow a span {
  color: #000;
  font-size: 25px;
  line-height: 39px;
  cursor: pointer;
}
.thirdpart {
  margin-top: -200px;
  background-color: floralwhite;
  height: 1631px;
}
h2.thirdheader {
  margin-top: 115px;
}
.brandnew1,
.brandnew2,
.brandnew3,
.brandnew4 {
  position: absolute;
  height: 650px;
  width: 36%;
  left: 12%;
  top: 255px;
}
img.brandimg {
  position: absolute;
  width: 100%;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
}
.brandnew2,
.brandnew4 {
  left: 52%;
}
.brandnew3,
.brandnew4 {
  top: 977px;
}
p.bed {
  position: absolute;
  top: 64%;
  left: 5%;
  font-weight: bold;
  font-size: 20px;
}
p.location {
  position: absolute;
  top: 67%;
  left: 5%;
  font-weight: bold;
  font-size: 30px;
  border-bottom: 2px solid darkgrey;
  padding-bottom: 7px;
}
p.newparag {
  position: absolute;
  width: 90%;
  top: 79%;
  left: 5%;
}
p.newprice {
  position: absolute;
  top: 89%;
  left: 5%;
  font-size: 24px;
  color: #da1b1b;
}
.lastpart {
  margin-top: -200px;
  height: 400px;
  margin-bottom: 0;
  background: url(../images/client.jpg);
}
h2.think {
  color: #fff;
}
.lastpart {
  margin-top: -200px;
  height: 400px;
  margin-bottom: 0;
  background: url(../images/client.jpg);
  background-size: cover;
  background-position-y: 38%;
  background-position-x: 355px;
}
h2.think {
  color: #fff;
  position: absolute;
  left: 18%;
  top: 11%;
  word-spacing: 6px;
  font-size: 30px;
}
p.thinkparag,
p.thinkparag2,
p.thinkparag3 {
  position: absolute;
  left: 3%;
  top: 32%;
  width: 13%;
  color: aliceblue;
}
p.thinkparag3 {
  left: 37%;
}
p.thinkparag2 {
  left: 20%;
}
p.name,
p.name2,
p.name3 {
  position: absolute;
  color: aqua;
  left: 3%;
  top: 70%;
  font-size: 22px;
}
p.name2 {
  left: 20%;
}
p.name3 {
  left: 37%;
}
@media (max-width: 1310px) {
  .HideOnMobile {
    display: none;
  }
  .ShowOnMobile {
    display: block;
  }
}
@media (min-width: 1310px) {
  .ShowOnMobile {
    display: none;
  }
}
